<div class="show">
	<h1 class="title"><%= @article.title %></h1>

	<p class="date"><%= @article.created_at.strftime("%d-%m-%Y") %></p>
	<div class="text-content"><%= simple_format(@article.content) %></div>

	<br>
	<% if admin_signed_in? %>
		<%= link_to 'Modifier', edit_article_path, class: "btn btn-primary" %>
		<%= link_to 'Supprimer', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		<br><br>
	<% end %>
</div>